
body{
    margin: 0px;
    padding: 0px;
    background-color: papayawhip;
}

main{
    padding: 16px;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F2A71B;
}

img{
    height: 200px;
    box-shadow: 10px 5px 5px lightblue;
}

nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #89D99D;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.a {
    color: #5283ff;
  }


tr:nth-child(2n) {
    background-color: lightgrey;
}

.amount_food {
    background-color: lightpink;
}

.text  {
    font-family: 'Gloock', serif;
}
